{% extends "base.html" %}
{% block title %}About page{% endblock %}

{% block content %}
    <h1>Welcome to weRvet!!!</h1>
    <p>
        Hi, my name is Yotam Ben Zvi,<br>
        I'm 22 years old from Ness Ziona, Israel.<br>
        In my high school years my major field of study was computer science and physics.
        I then finished high school and enlisted to Israel Defence Forces ,IDF.<br>
        I served 3 years as a squadron commander in a special unit calles "Moran" and right afterwards entered the Dev-Ops world.<br>
        What your seeing here is a small taste of some of the tools that I learned over the past months<br><br>
        About the project:<br>
        Developed a containerized application utilizing MongoDB and nginx containers, deployed on AWS and served through a load balancer.<br>
        Implemented an automated Jenkins multibranch pipeline for versioning and deployment management, utilizing Github for version control and<br>
        coordination with the pipeline.<br><br>
        <strong>https://github.com/mayoloving/weRvet</strong>
    </p>
{% endblock %}