{% extends "base.html" %}
{% block title %}About page{% endblock %}

{% block content %}
    <h1>Welcome to weRvet!!!</h1>
    <p>
        Hi, my name is Yotam Ben Zvi,<br>
        I'm 22 years old from Ness Ziona, Israel.<br>
        I have a strong background in computer science and physics, which I studied during my high school years.<br>
        After graduation, I joined the Israel Defence Forces (IDF) and served as a squadron commander in a special unit called <strong>"Moran"</strong>.<br>
        After completing my service, I made the transition to the world of Dev-Ops.<br>
        I have gained extensive experience in modern software development practices and tools.<br>
        This site is a demonstration of my skills, and developed as a containerized application utilizing MongoDB and nginx containers, which were deployed on <strong>AWS</strong> and served through a load balancer.<br>
        Additionally, I implemented an automated <strong>Jenkins</strong> multibranch pipeline for versioning and deployment management. 
        This pipeline utilizes <strong>Github</strong> for version control and helps ensure seamless coordination with the development process.<br><br>
        If you would like to see my work in action, feel free to check out my Github repository at <strong>https://github.com/mayoloving/weRvet.</strong><br>
        Thank you for considering my background and experience, and I look forward to the opportunity to contribute my skills to your team.
    </p>
{% endblock %}