{% extends "base.html" %}
{% block title %}About page{% endblock %}

{% block content %}
<div class="holder_content1">
    <section class="group5">
        <h1>Welcome to weRvet!!!</h1>
        <article>
            <p style="color:white; font-size:18px;">
                Hi, my name is Yotam Ben Zvi,<br>
                I'm 22 years old from Ness Ziona, Israel.<br>
                I have a strong background in computer science and physics, which I studied during my high school years.<br>
                After graduation, I joined the Israel Defence Forces (IDF) and served as a squadron commander in a special unit called <strong>"<u>Moran</u>"</strong>.<br>
                After completing my service, I made the transition to the world of Dev-Ops.<br>
                I have gained extensive experience in modern software development practices and tools.<br>
                This site is a demonstration of my skills, and developed as a containerized application utilizing MongoDB and nginx containers, which were deployed on <u><strong>AWS</strong></u> and served through a load balancer.<br>
                Additionally, I implemented an automated <u><strong>Jenkins</strong></u> multibranch pipeline for versioning and deployment management. 
                This pipeline utilizes <u><strong>Github</strong></u> for version control and helps ensure seamless coordination with the development process.<br><br>
                If you would like to see my work in action, feel free to check out my Github repository at <u><strong>https://github.com/mayoloving/weRvet.</strong></u><br>
                Thank you for considering my background and experience, and I look forward to the opportunity to contribute my skills to your team.
            </p>
        </article>
    </section>
</div>
{% endblock %}