{% extends "base.html" %}
{% block title %}Delete page{% endblock %}

{% block content %}
<div class="holder_content1">
    <section class="group5">
        <h1>Delete pet</h1>
        <article>
            <form id="inform" action="" method="POST">
                <p style="color:white; font-size:14px;">ID:<input id="uniqueID" name="id" type=text></p>
                <p><input id="sendBtn" type="submit" value="delete pet"></p>
            </form>
        </article>
    </section>
</div>

<!--<div class="data">
    {{data}}
</div>-->
<script>
    var form = document.getElementById("inform");
    var idElement = document.getElementById("uniqueID");
    var id;

    idElement.addEventListener('change', (event) => {
        id = event.target.value;
        form.action = "/delete/" + id;
    });
</script>

{% endblock %}