{% extends "base.html" %}
{% block title %}serve page{% endblock %}

{% block content %}
<h1>Check on your pets</h1>

<form id="inform" action="#" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="_method" value="DELETE">
    <p>Name:<input name="petname" type=text></p>
    <p>ID:<input name="id" type=text></p>
    <p>Gender:<input name="gen" type=text></p>
    <p>Animal type:<input name="animal" type=text></p>
    <p>Message:<input name="msg" type=text></p>
    <p><input id="sendBtn" type="submit" value="create"></p>
    <p><input id="updateBtn" type="button" value="update"></p>
    <p><input id="deleteBtn" type="button" value="delete"></p>
</form>
<!-- <form id="inform" action="#" method="DELETE">
    <p><input id="delBtn" type="submit" value="delete"></p>
</form>
<form id="inform" action="#" method="PUT">
    <p><input id="uptBtn" type="submit" value="update"></p>
</form> -->
<br>
<div class="data">
    {{data}}
</div>

<script>
    document.getElementById("updateBtn").addEventListener("click", function(){
        document.getElementById("inform").method = "PUT";
        document.getElementById("inform").submit();
    });
    document.getElementById("deleteBtn").addEventListener("click", function(){
        document.getElementById("inform").method = "DELETE";
        document.getElementById("inform").submit();
    });
</script>

{% endblock %}