{% extends "base.html" %}
{% block title %}serve page{% endblock %}
<!-- <script>
    function petid() {
      var petid = window.location.href.substring(window.location.href.lastIndexOf("/")+1);
    //   if (petid=="") petid = "general";
      return "/pet/"+petid;
    }

    function updateChat() {
      $.get(petid(), function(data) {$("#chatbox").text(data); window.setTimeout(updateChat, 1500);})
      //.get( url [, data ] [, success ] [, dataType ] )
    }

    function sendmessage() {
      $.post(petid(), $("#inform").serialize() );
      //.post( url [, data ] [, success ] [, dataType ] )
    }

    $(document).ready(function() {$("#chatbox").text("Loading chat...");$("#sendBtn").click(sendmessage);window.setTimeout(updateChat, 1500);});

</script> -->
{% block content %}
<h1>Check on your pets</h1>

<form id="inform" action="#" method="POST">
    <p>Name:<input name="petname" type=text></p>
    <p>ID:<input name="id" type=text></p>
    <p>Gender:<input name="gen" type=text></p>
    <p>Animal type:<input name="animal" type=text></p>
    <p>Message:<input name="msg" type=text></p>
    <p><input id="sendBtn" type="submit" value="send"></p>
</form>
<!-- <pre id="chatbox">Loading...</pre> -->
{% endblock %}

