<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <title>weRvet home</title>
  <meta charset="UTF-8">
  <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script src="../static/js/jquery-1.5.1.min.js"></script>
  <script src="../static/js/slides.min.jquery.js"></script>
  <script>
    $(function () {
      $('#slides')
        .slides({
          preload: true,
          preloadImage: '../static/images/loading.gif',
          play: 5000,
          pause: 2500,
          hoverPause: true
        });
    });
  </script>
</head>

<body>
  <!--start container-->
  <div id="container">
    <!--start header-->
    <header>
      <!--start logo-->
      <a href="#" id="logo"><img src="../static/images/wervet.png" width="262" height="133" style="border-radius:10px" alt=""></a>
      <!--end logo-->
      <!--start menu-->
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="/pet">All Pets</a></li>
          <li><a href="form.html">Register</a></li>
          <li><a href="update.html">Update</a></li>
          <li><a href="delete.html">Delete</a></li>
        </ul>
      </nav>
      <!--end menu-->
      <!--end header-->
    </header>
    <!--start intro-->
    <section id="intro">
      <div id="slides">
        <div class="slides_container"> <img src="../static/images/try1.jpg" width="960" height="300" alt=""> <img
            src="../static/images/try2.jpg" width="960" height="300" alt=""> <img src="../static/images/try3.jpg" width="960"
            height="300" alt=""> <img src="../static/images/try4.jpg" width="960" height="300" alt=""> <img 
            src="../static/images/try5.jpg" width="960" height="300" alt=""> <img 
            src="../static/images/try6.jpg" width="960" height="300" alt=""> <img src="../static/images/try7.jpg" width="960" height="300" alt=""> <img src="../static/images/try8.jpg" width="960" height="300" alt=""> <img 
            src="../static/images/try9.jpg" width="960" height="300" alt=""> </div>
      </div>
    </section>
    <!--end intro-->
    <!--start holder-->
    <div class="holder_content1">
      <section class="group5">
        <h1>Welcome</h1>
        <article>
          <h2>Yotam Ben-Zvi: Owning a pet can positively impact not only your health but also your lifestyle.
            Studies show that pet owners are more likely to get to know people in their neighborhood than those who do not have a pet.
            Furthermore animals can help children by teaching them about empathy and responsibility, and can even boost their literacy skills.
          </h2>
        </article>
      </section>
    </div>
    <!--end holder-->
    <!--start holder-->
    <div class="holder_content">
      <section class="group1">
        <h3>Dogs</h3>
        <a class="photo_hover3"><img src="../static/images/pic2.jpg" width="190" height="126" alt=""></a>
        <p>The dog is a domesticated descendant of the wolf. Also called the domestic dog, it is derived from the extinct 
          Pleistocene wolf, and the modern wolf is the dog's nearest living relative. Dogs were the first species to be 
          domesticated by hunter-gatherers over 15,000 years ago before the development of agriculture... </p>
        <a href="https://en.wikipedia.org/wiki/Dog"><span class="button">Read more</span></a>
      </section>
      <section class="group2">
        <h3>Cats</h3>
        <a class="photo_hover3"><img src="../static/images/pic1.jpg" width="190" height="126" alt=""></a>
        <p>Cats have excellent night vision and can see at only one-sixth the light level required for human vision. 
          This is partly the result of cat eyes having a tapetum lucidum, which reflects any light that passes through the 
          retina back into the eye, thereby increasing the eye's sensitivity to dim light... </p>
        <a href="https://en.wikipedia.org/wiki/Cat"><span class="button">Read more</span></a>
      </section>
      <section class="group3">
        <h3>Rabbits</h3>
        <a class="photo_hover3"><img src="../static/images/pic3.jpg" width="190" height="126" alt=""></a>
        <p>A male rabbit is called a buck; a female is called a doe. An older term for an adult rabbit used until the 18th 
          century is coney, while rabbit once referred only to the young animals. Another term for a young rabbit is bunny... </p>
        <a href="https://en.wikipedia.org/wiki/Rabbit"><span class="button">Read more</span></a>
      </section>
      <section class="group4">
        <h3>Overall</h3>
        <a class="photo_hover3"><img src="../static/images/pic4.jpg" width="190" height="126" alt=""></a>
        <p>Pets provide their owners both physical and emotional benefits. Walking a dog can provide both the human and the dog 
          with exercise, fresh air, and social interaction. Pets can give companionship to people who are living 
          alone or elderly adults who do not have adequate social interaction with other people. </p>
        <a href="https://en.wikipedia.org/wiki/Pet"><span class="button">Read more</span></a>
      </section>
    </div>
    <!--end holder-->
    <!--start holder-->
    <div class="holder_content2">
      <section class="group6">
        <h3>Quotes</h3>
        <a class="photo_hover3"><img src="../static/images/pic5.jpg" width="190" height="105" alt=""></a>
        <p>“Women and cats will do as they please, and men and dogs should relax and get used to the idea.” Robert A. Heinlein </p>
        <p>“A dog is the only thing on earth that loves you more than you love yourself.” Josh Billings </p>
        <p>“Animals are such agreeable friends. They ask no questions; they pass no criticisms.” George Eliot </p>
        <p>“I am fond of pigs. Dogs look up to us. Cats look down on us. Pigs treat us as equals.” Winston Churchill </p>
      </section>
    </div>
    <!--end holder-->
  </div>
  <!--end container-->
  <!--start footer-->
  <footer>
    <div class="container">
      <aside class="footer_left">
        <h4>Find Us <span>yota.benz@outlook.com</span> <span>https://www.linkedin.com/in/yotam-ben-zvi-989b51247</span> </h4>
      </aside>
      <!--<aside class="footer_left">
        <h4>Bla bla <span>Lorem ipsum dolor sit amet</span> <span>Lorem ipsum dolor sit amet</span> </h4>
      </aside>
      <aside class="footer_left">
        <h4>Purr purr <span>Lorem ipsum dolor sit amet</span> <span>Lorem ipsum dolor sit amet</span> </h4>
      </aside>-->
      <img src="../static/images/cat_paw_prints.png" width="300" height="300" alt="" class="picture_footer">
      <!--<div id="FooterTwo"> &copy; 2012 cats template </div>-->
      <div id="FooterTree">Website Template By <a href="http://www.marijazaric.com">marija zaric - creative simplicity</a>
      </div>
    </div>
  </footer>
  <!--end footer-->
</body>

</html>